* {
  box-sizing: border-box;
}
html,
body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: sans-serif;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
/**
 * Bloco necessário
 */
.bqc-overlay {
  background-color: palegoldenrod;
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.bqc-overlay__video {
  background-color: rgba(0, 0, 0, 0.87);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.bqc-overlay__actions {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: absolute;
  right: 0;
}
.bqc-overlay__button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.6);
  height: 40px;
  margin: 8px;
  min-width: 100px;
  text-align: center;
  z-index: 2;
}

.bqc-overlay__close {
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
  position: absolute;
  right: 8px;
  top: 8px;
  min-width: 32px;
  z-index: 2;
}
/**
 * end Bloco necessário
 */

.input-text {
  border: 2px solid rgba(0, 0, 0, 0.38);
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.87);
  height: 40px;
  margin: 8px;
  width: calc(100% - 16px);
}
.buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button {
  background-color: mediumseagreen;
  border: none;
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.87);
  height: 40px;
  min-width: 200px;
  text-transform: uppercase;
}

.button + .button {
  margin: 12px 0 0;
}
.button--light {
  background: none;
  color: brown;
}

.output {
  display: flex;
  flex-direction: column;
  justify-self: center;
}
